@media screen and (min-width: 992px) {
}

/* Tablet and moblie */
@media screen and (max-width: 991.98px) {
    /* common */
    .section-heading {
        font-size: 3.6rem;
        letter-spacing: -1.44px;
    }
    /* endcommon */
    .header__container {
        max-width: 100%;
        padding: 0 15px;
    }

    .header__inner {
        padding-bottom: 20px;
        border-bottom: 1px solid #d6d3e2;
    }

    .header__logo-heath {
        margin-left: auto;
        margin-right: 10px;
        order: 2;
    }

    .header__logo-img {
        width: 34px;
        height: 34px;
        /* object-fit: cover; */
    }
    .header__logo-child {
        order: 1;
        width: 32px;
        height: 32px;
    }

    .header__logo-title {
        display: none;
    }
    .navbar {
        position: absolute;
        z-index: 999;
        inset: 0 0 0 50%;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }

    .navbar.active {
        opacity: 1;
        visibility: visible;
    }

    .navbar__list {
        padding-top: 20px;
        margin-top: 100px;
        height: 100vh;

        flex-direction: column;
        gap: 30px 0;
    }

    .header-menu {
        display: block;
        position: relative;
        z-index: 999;
        order: 3;
    }

    /* hero */
    .hero__media {
        order: 2;
    }

    .hero__content {
        position: relative;
        z-index: 3;
        margin-left: 0;
        order: 1;
    }

    .hero__heading {
        max-width: 260px;
        font-size: 4.2rem;
        line-height: 1.19;
        letter-spacing: -1.68px;
    }

    .hero__desc {
        max-width: 318px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.62;
    }

    .hero__more {
        gap: 0 40px;
    }

    .btn {
        width: 147px;
        height: 55px;
    }

    .btn,
    .hero__more-work {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.87;
        text-decoration-line: underline;
    }

    .hero__follow {
        margin-top: 25px;
    }

    .hero__media {
        margin: 20px auto 0;
    }

    .hero__media-wrap {
        margin-left: auto;
        margin-right: auto;
        width: 259px;
        height: 355px;
    }

    .hero__media-decor {
        left: -15px;
    }

    /* social */
    .social {
        margin: 120px 0 100px;
    }

    .social__inner {
        display: block;
    }

    .social__heading {
        max-width: 170px;
        margin: 0 auto;
        text-align: center;
        font-size: 2.8rem;
        line-height: 1.21;
        letter-spacing: -1.12px;
    }

    .social__title {
        position: relative;
    }

    .social__title::before {
        position: absolute;
        margin: 0 0 5px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
    }

    .social__info {
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin-top: 40px;
        column-gap: 0;
    }

    .social__info-img {
        display: inline-block;
    }

    .social__info-img:nth-child(1) {
        order: 1;
    }

    .social__info-img:nth-child(2) {
        order: 2;
        margin: 0 auto;
    }

    .social__info-img:nth-child(3) {
        order: 5;
    }

    .social__info-img:nth-child(4) {
        order: 6;
        margin: 0 auto;
    }

    .social__info-img:nth-child(5) {
        order: 3;
    }

    .social__info-img:nth-child(6) {
        order: 4;
        margin: 0 auto;
    }

    .social__info-img:nth-child(7) {
        order: 7;
    }

    .social__info-img:nth-child(8) {
        order: 8;
        margin: 0 auto;
    }

    /* special */
    .special-desc {
        max-width: 350px;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .special__list {
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
}
