@media screen and (min-width: 992px) {
}

/* Tablet and moblie */
@media screen and (max-width: 991.98px) {
    /* common */
    .section-heading {
        text-align: center;
        font-size: 3.6rem;
        letter-spacing: -1.44px;
    }

    .section-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .dots {
        display: flex;
        margin-top: 42px;
    }
    /* endcommon */
    .header__container {
        max-width: 100%;
        padding: 0 15px;
    }

    .header__inner {
        padding-bottom: 20px;
        border-bottom: 1px solid #d6d3e2;
    }

    .header__logo-heath {
        margin-left: auto;
        margin-right: 10px;
        order: 2;
    }

    .header__logo-img {
        width: 34px;
        height: 34px;
        /* object-fit: cover; */
    }
    .header__logo-child {
        order: 1;
        width: 32px;
        height: 32px;
    }

    .header__logo-title {
        display: none;
    }

    .header__navbar {
        position: absolute;
        z-index: 999;
        inset: 0 0 0 50%;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }

    .header__navbar.active {
        opacity: 1;
        visibility: visible;
    }

    .header__navbar .navbar__list {
        padding-top: 20px;
        margin-top: 100px;
        height: 100vh;

        flex-direction: column;
        gap: 30px 0;
    }

    .header-menu {
        display: block;
        position: relative;
        z-index: 999;
        order: 3;
    }

    /* hero */
    .hero__media {
        order: 2;
    }

    .hero__content {
        position: relative;
        z-index: 3;
        margin-left: 0;
        order: 1;
    }

    .hero__heading {
        max-width: 260px;
        font-size: 4.2rem;
        line-height: 1.19;
        letter-spacing: -1.68px;
    }

    .hero__desc {
        max-width: 318px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.62;
    }

    .hero__more {
        gap: 0 40px;
    }

    .btn {
        width: 147px;
        height: 55px;
    }

    .btn,
    .hero__more-work {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.87;
    }

    .hero__more-work {
        text-decoration-line: underline;
    }

    .hero__follow {
        margin-top: 25px;
    }

    .hero__media {
        margin: 20px auto 0;
    }

    .hero__media-wrap {
        margin-left: auto;
        margin-right: auto;
        width: 259px;
        height: 355px;
    }

    .hero__media-decor {
        left: -15px;
    }

    /* social */
    .social {
        margin: 120px 0 100px;
    }

    .social__inner {
        display: block;
    }

    .social__heading {
        max-width: 170px;
        margin: 0 auto;
        text-align: center;
        font-size: 2.8rem;
        line-height: 1.21;
        letter-spacing: -1.12px;
    }

    .social__title {
        position: relative;
    }

    .social__title::before {
        position: absolute;
        margin: 0 0 5px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
    }

    .social__info {
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin-top: 40px;
        column-gap: 0;
    }

    .social__info-img {
        display: inline-block;
    }

    .social__info-img:nth-child(1) {
        order: 1;
    }

    .social__info-img:nth-child(2) {
        order: 2;
        margin: 0 auto;
    }

    .social__info-img:nth-child(3) {
        order: 5;
    }

    .social__info-img:nth-child(4) {
        order: 6;
        margin: 0 auto;
    }

    .social__info-img:nth-child(5) {
        order: 3;
    }

    .social__info-img:nth-child(6) {
        order: 4;
        margin: 0 auto;
    }

    .social__info-img:nth-child(7) {
        order: 7;
    }

    .social__info-img:nth-child(8) {
        order: 8;
        margin: 0 auto;
    }

    /* special */
    .special-desc {
        max-width: 350px;
    }

    .special__list {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .special__dots {
        display: flex;
    }

    /* project */
    .project {
        margin-top: 87px;
        padding: 70px 0 60px;
    }
    .project__info {
        flex-direction: column;
        gap: 0;
    }

    .project__heading {
        max-width: 301px;
    }

    .project__list {
        margin-top: 60px;
    }

    .project-item {
        padding: 20px 15px;
    }
    .project-item__heading {
        font-size: 2.4rem;
        line-height: 1.41;
        letter-spacing: -0.96px;
    }

    .project-item__desc {
        margin-top: 4px;
        max-width: 176px;
        font-size: 1.4rem;
        line-height: 1.42;
    }

    .project-item__more {
        margin-top: 4px;
        font-size: 1.6rem;
        line-height: 1.75;
    }

    .project__thumb {
        width: 122px;
        height: 93px;
    }
    .project__btn {
        margin-top: 35px;
    }
    .project-btn {
        width: 154px;
        height: 56px;
    }

    /* interactive */
    .interact {
        margin-top: 100px;
        padding: 20px 0;
    }

    .interact__title {
        font-size: 2rem;
        line-height: 2;
        letter-spacing: -0.8px;
    }

    .interact__rating {
        width: 100%;
        margin-top: 50px;
        padding: 30px 16px 20px;
    }

    .interact-item + .interact-item {
        padding-left: 48px;
    }

    .interact-item__value {
        font-size: 3rem;
        line-height: 1.4;
        letter-spacing: 0.9px;
    }

    .interact-item__desc {
        margin-top: 5px;
        white-space: wrap;
        font-size: 1.6rem;
        line-height: 1.37;
    }

    .interact__more {
        width: 118px;
        height: 44px;
        color: #51586a;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.5;
    }

    /* feedback */
    .feedback {
        padding-bottom: 67px;
    }

    .feedback__list {
        width: 350px;
    }

    .feedback-item__qoute {
        width: 351px;
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .feedback-avatar-wrap {
        margin-top: 48px;
    }

    .feedback__user {
        font-size: 2.4rem;
        line-height: 1.66;
    }

    /* question */
    .question {
        margin-top: 70px;
        padding: 50px 0;
    }

    .question__heading {
        max-width: 316px;
        text-align: left;
    }

    .question__list {
        margin-top: 42px;
    }
    .question-item + .question-item {
        margin-top: 40px;
    }

    .question-item__heading {
        max-width: 264px;
        font-size: 2.4rem;
        line-height: 1.25;
        letter-spacing: -0.96px;
    }

    .question-item__desc {
        text-align: left;
        max-width: 316px;
    }
    /* atmosphere */
    .atmosphere {
        margin-top: 20px;
    }

    .atmosphere__title {
        font-size: 2rem;
        line-height: 2;
        letter-spacing: -0.8px;
    }

    .atmosphere__media {
        margin-top: 60px;
        flex-wrap: nowrap;
    }

    .atmosphere__media-wrap {
        overflow: hidden;
    }
    .atmosphere__img {
        height: 503px;
    }

    /* cta */
    .cta {
        padding: 36px 0;
        margin-top: 70px;
    }

    .cta__heading {
        margin-top: 10px;
    }

    .cta__desc {
        margin-top: 10px;
    }

    .cta__btn {
        margin-top: 30px;
    }

    /* footer */
    .footer {
        margin-top: 120px;
    }

    .footer__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__logo-child {
        order: 1;
    }

    .footer__navbar {
        display: flex;
        gap: 0 38px;
        order: 2;
    }

    .footer__navbar .navbar__list {
        margin-top: 20px;
    }

    .footer__navbar .navbar__item {
        font-size: 1.6rem;
        line-height: 1.25;
    }

    .footer__logo-heath {
        margin-top: 64px;
        order: 3;
    }

    .footer__copywrite {
        margin-top: 40px;
        flex-direction: column-reverse;
        gap: 49px 0;
    }

    .footer__copywrite::before {
        top: 50%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
}
