*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select {
    font-family: inherit;
}

:root {
    --black-color: #080415;
    --desc-color: #51586a;
    --primary-color: #5d3bee;
    --white-color: #fff;
}

/* common */
.btn {
    width: 170px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.btn:hover {
    background-color: #fdfdfd;
    color: var(--primary-color);
}

/* heading */
.section-heading {
    color: var(--black-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -2.24px;
}

.section-desc {
    max-width: 570px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}
/* header */
.header {
    background: #fbfaff;
    padding: 20px 0px 10px;
}

.header__container {
    width: 1330px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

.header__inner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-heath {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.header__logo-title {
    color: var(--black-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.header__logo-child {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 0 43px;
}

.navbar__item {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}

.header-menu {
    color: #5d3bee;
}

.overlay {
    position: fixed;
    z-index: 888;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* hero */
.hero {
    padding-top: 44px;
    background: #fbfaff;
}

.hero__inner {
    align-items: center;
}

.hero__media-wrap {
    position: relative;
    width: 514px;
    height: 705px;
}

.hero__media-decor {
    position: absolute;
    width: 123%;
    height: 116%;
    object-fit: cover;
    left: -30px;
    bottom: 0px;
    z-index: 1;
}

.hero__media-img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero__content {
    max-width: 500px;
    margin-left: auto;
}

.hero__heading {
    color: var(--black-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__desc {
    margin-top: 20px;
    max-width: 370px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__more {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.hero__more-work {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
}

.hero__follow {
    margin-top: 104px;
    display: flex;
    align-items: center;
}

.hero__follow-heading {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87;
}

.hero__social {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.hero__cicrle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e3e2e8;
    transition: 0.3s;
}

.hero__cicrle:hover {
    border-color: var(--black-color);
}

/* social */
.social {
    margin: 100px 0;
    background-color: var(--white-color);
}
.social__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social__heading {
    max-width: 252px;
    color: var(--black-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.social__title {
    display: flex;
}

.social__title::before {
    display: inline-block;
    margin-top: 22px;
    margin-right: 13px;
    content: "";
    width: 86px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.social__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    max-width: 713px;
}

/* special */
.special {
    padding: 33px 0;
}

.special__top {
    text-align: center;
}

.special-desc {
    margin: 20px auto 0;
    max-width: 534px;
}

.special__list {
    margin-top: 60px;
}

.special-item {
    background: #fbfaff;
    padding: 32px 42px;
}

.special-item__heading {
    margin-top: 18px;
    color: var(--black-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.special-item__desc {
    width: 285px;
    margin-top: 15px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.dots {
    margin-top: 32px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0 15px;
}

.dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cecdd0;
    transition: all 0.2s;
}

.dot.active,
.dot:hover {
    scale: 0.8;
    background-color: var(--primary-color);
    outline: 1px solid var(--primary-color);
    outline-offset: 3px;
}

/* project */
.project {
    margin-top: 107px;
    padding: 86px 0;
    background-color: var(--primary-color);
}

.project__info {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.project__heading {
    width: 468px;
    flex-shrink: 0;
    color: var(--white-color);
}

.project__desc {
    width: 370px;
    color: #d3b0e1;
}

.project__list {
    margin-top: 70px;
}

.project-item {
    background: #fbfaff;
    padding: 24px 24px 24px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item__heading {
    color: var(--black-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.project-item__desc {
    margin-top: 10px;
    max-width: 220px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.43;
}

.project-item__more {
    display: inline-block;
    margin-top: 20px;
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
}

.project__thumb {
    width: 246px;
    height: 187px;
}

.project__thumb-img {
    width: 100%;
}

.btn-white {
    background-color: var(--white-color);
    color: var(--black-color);
    border-color: var(--white-color);
}

.btn-white:hover {
    scale: 1.1;
}

.project__btn {
    margin-top: 65px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* interactive */
.interact {
    margin-top: 90px;
    padding: 50px 0;
}

.interact__info {
    max-width: 946px;
    margin: 0 auto;
    text-align: center;
}

.interact__title {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    margin-bottom: 10px;
}

.interact__desc {
    margin: 15px auto 0;
}

.interact__rating {
    display: flex;
    max-width: 946px;
    justify-content: space-around;
    margin: 70px auto 0;
    padding: 20px 0;
    border-bottom: 1px solid #cecdd0;
    border-top: 1px solid #cecdd0;
}

.interact-item__value {
    color: var(--black-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}

.interact-item__desc {
    white-space: nowrap;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.interact__media {
    position: relative;
}

.interact__video {
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.interact__more {
    color: var(--desc-color);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* feedback */
.feedback {
    margin-top: 50px;
    padding: 50px 0 74px;
}

.feedback__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedback__desc {
    margin-top: 20px;
}

.feedback__list-wrap {
    overflow: hidden;
}
.feedback__list {
    width: 680px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    transition: all ease 0.5s;
}


.feedback-item__qoute {
    width: 680px;
    margin: 0 auto;
    color: var(--desc-color);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.66;
}

.feedback-avatar__wrap {
    margin-top: 36px;
}

.feedback-avatar {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.feedback-avatar__bg {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f29764;
}

.feedback-avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.feedback__user {
    color: var(--black-color);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.feedback-avatar__desc {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
}

.feedback__dots {
    display: flex;
}
